* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 512px);
  padding-right: calc(50% - 512px);
}

.header {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  display: flex;
  gap: 25px;
  width: 100%;
  height: auto;
  justify-content: start;
  flex-wrap: wrap;
}
.card {
  flex-basis: 200px;
  min-height: 200px;
  max-width: 150px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px currentColor;
  transition:
    box-shadow 0.2s,
    background-color 0.2s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 7px 7px 10px currentColor;
  background-color: rgb(173, 233, 233);
}
.card:active {
  box-shadow: 2px 2px 5px currentColor;
  background-color: aqua;
}
.card__avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: aliceblue;
}
.card__title {
  padding-top: 20px;
}
